<ion-header>
  <ion-toolbar color="success">
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
        <ion-label>
          On hold
          <p>16/02/2022 11:55 </p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <p>Creted at 15/02/2022</p>
          <p>Note: we have two bags that are full, one with plasct and other with glasses</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="archive-outline" slot="start" color="secondary"></ion-icon>
        <ion-label>
          processing
          <p>16/02/2022 11:55 </p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <p>Creted at 15/02/2022</p>
          <p>Note: we have two bags that are full</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
        <ion-label>
          Finished
          <p>16/02/2022 11:55 </p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <p>Creted at 15/02/2022</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="trophy" color="success" slot="start"></ion-icon>
        <ion-label color="success">$ 15,00</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
