<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img 
          src="https://avatars.githubusercontent.com/u/75273446?s=400&u=0c319c11c24c702c009674b8493555ddd7dc5884&v=4" 
          alt="photo profile"
        >
      </ion-avatar>
      <ion-label>
        <h1>Vitor Alex</h1>
        <p>Gather: <span class="money">$ 15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card
    status="hold"
    updateAt="16/02/2022 11:55"
    createdAt="15/02/2022"
    notes="we have two bags that are full, one with plasct and other with glasses"   
  >
    <ion-card-header header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>

    <ion-button footer color="success" fill="clear" size="full" (click)="goToPickupCalls()">See all...</ion-button>
  </app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="newPickupCall()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
