<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img 
          src="https://avatars.githubusercontent.com/u/75273446?s=400&u=0c319c11c24c702c009674b8493555ddd7dc5884&v=4" 
          alt="photo profile"
        >
      </ion-avatar>
      <ion-label>
        <h1>Vitor Alex</h1>
        <p>Gather: <span class="money">$ 15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
        <ion-label>
          On hold
        <p>16/02/2022 11:55 </p>
      </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Creted at 15/02/2022</p>
          <p>Note: we have two bags that are full, one with plasct and other with glasses</p>
        </ion-label>
      </ion-item>

      <ion-button color="success" fill="clear" size="full">See all...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
